@family:"Times New Roman", Times, serif;
@color: #ffffff;
.page-wrapper{
    margin:0 auto;
    max-width:952px;
}
.page-header{
    padding-bottom:0px !important;
    margin:0px !important;;
    border-bottom: none !important;
    font-family: @family;
    .panel.wrapper{
        border-bottom: none;
        background-color: @color;
        .panel.header {
            padding: 10px 0px 0px 0px;
            a{
                color: #484343;
            }
            a:hover{
                color: rgb(156, 5, 5);
                text-decoration: none;
            }
        }
    }
}
.panel {
    margin-bottom: 0px !important;
    border:none;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
}
.header.content {
    padding:0;
}
.header-link.col-md-3{
    display: inline-block;
    float: right;
    height: 0px;
    list-style: none;
    padding-left: 56px;
    font-size: 13px;
    .header-table{
        width: 100%;
        list-style: none;
        display: inline-block;
        padding: 0px;
        .col-md-4{
            padding: 0px;
        }
        .col-md-3{
            padding: 0px;
        }
        .col-md-5{
            padding: 0px;
        }
    }
}
.minicart-wrapper {
    background: url('@{baseDir}images/cart.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 18px;
    content: '';
    vertical-align: sub;
    background-size: contain;
    .action.showcart::before {
        background: unset;
        background-repeat: no-repeat;
        display: inline-block;
        content: '';
    }
    .action.showcart.active::before {
        content: '';
        display: inline-block;
    }
}
.control{
    .nested{
        display: none;
    }
}
.header.panel > .header.links > li {
    margin: 0px;
    font-size: 13px;
}
//Start Header Content//
.header.content{
    font-family: @family;
}
#search{
    border: 1px solid black !important;
    height: 26px;
}               
.block-search{
    width: 230px;
    margin-top: 60px;
}
.header-cake-link.col-md-6{
    display: inline-block;
    font-size: 15px;
    margin-top: 70px;
    margin-bottom: 5px;
    padding-left: 15px;
    margin-left: 35px;
    ul{
        list-style: none;
        .header-5{
            padding: 0px;
        }
        .header-4{
            padding:0px;
            width: 23%;
        }
        .header-3{
            padding: 0px;
        }
        .header-2{
            width: 14%;
            padding: 0px;
        }
        .header-1{
            width: 12%;
            padding: 0px;
        }
        a{
            color: #484343;
        }
        a:hover{
            color: rgb(156, 5, 5);
            text-decoration: none;  
        }
    }
}
.logo{
    margin: 0px;
    margin-top: -7px;
}
// Start Header Section
//Start Navigation section
.nav-sections{
    display: none;
}
//End Navigation section
// Start Body Section
.page-main{
    padding: 0px;
}
.page-layout-2columns-left .column.main{
    width:75%;
}
.page-layout-2columns-left .sidebar-main{
    padding: 0px;
    width: 25%;
    .navigation{
        background-color:@color;
        border: none;
        font-weight: 100;
        font-size: 15px;
        font-family: @family;
        ul{
            padding: 0px;
        }
        a{
            color: #484343;
        }
        .level0.category-item.first.level-top{
            display: inherit;
            height: 30px;
            a{
                color: rgb(156, 5, 5)
            }
        }
        .level0.category-item.level-top{
            display: inherit;
            width: 100%;
            height: 25px;
        }
    }
}
.page-layout-2columns-left .sidebar-additional{
    display: none;
}

.bx-wrapper{
    float: right;
    margin:0px;
    .bx-viewport{
        height: 300px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border:none !important;
    }
    .bx-caption{
        background: transparent; 
        position: absolute;
        top: 29%;
        span{
            color: white;
            font-family: @family;
            font-weight: 100 !important;
            font-size: 40px;
            letter-spacing: 5px;
            text-align: center;
        }
    }
}
.bxslider{
    div{
        width: 578px;
        img{
            width: 100%;
        }
    }
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 0;
}
//End Body Section